<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rope2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1},{904,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,140}}</string>
                <key>sourceSize</key>
                <string>{904,140}</string>
            </dict>
            <key>rope2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,907},{904,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,140}}</string>
                <key>sourceSize</key>
                <string>{904,140}</string>
            </dict>
            <key>rope3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1813},{604,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,140}}</string>
                <key>sourceSize</key>
                <string>{604,140}</string>
            </dict>
            <key>rope3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1123},{604,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,140}}</string>
                <key>sourceSize</key>
                <string>{604,140}</string>
            </dict>
            <key>rope3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1123},{604,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,140}}</string>
                <key>sourceSize</key>
                <string>{604,140}</string>
            </dict>
            <key>rope4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1813},{454,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,140}}</string>
                <key>sourceSize</key>
                <string>{454,140}</string>
            </dict>
            <key>rope4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1813},{454,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,140}}</string>
                <key>sourceSize</key>
                <string>{454,140}</string>
            </dict>
            <key>rope4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1813},{454,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,140}}</string>
                <key>sourceSize</key>
                <string>{454,140}</string>
            </dict>
            <key>rope4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1123},{454,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,140}}</string>
                <key>sourceSize</key>
                <string>{454,140}</string>
            </dict>
            <key>rope5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1579},{364,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,140}}</string>
                <key>sourceSize</key>
                <string>{364,140}</string>
            </dict>
            <key>rope5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1123},{364,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,140}}</string>
                <key>sourceSize</key>
                <string>{364,140}</string>
            </dict>
            <key>rope5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1123},{364,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,140}}</string>
                <key>sourceSize</key>
                <string>{364,140}</string>
            </dict>
            <key>rope5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1123},{364,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,140}}</string>
                <key>sourceSize</key>
                <string>{364,140}</string>
            </dict>
            <key>rope5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1123},{364,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,140}}</string>
                <key>sourceSize</key>
                <string>{364,140}</string>
            </dict>
            <key>rope6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1489},{304,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,140}}</string>
                <key>sourceSize</key>
                <string>{304,140}</string>
            </dict>
            <key>rope6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1489},{304,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,140}}</string>
                <key>sourceSize</key>
                <string>{304,140}</string>
            </dict>
            <key>rope6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1489},{304,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,140}}</string>
                <key>sourceSize</key>
                <string>{304,140}</string>
            </dict>
            <key>rope6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1123},{304,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,140}}</string>
                <key>sourceSize</key>
                <string>{304,140}</string>
            </dict>
            <key>rope6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1429},{304,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,140}}</string>
                <key>sourceSize</key>
                <string>{304,140}</string>
            </dict>
            <key>rope6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1123},{304,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,140}}</string>
                <key>sourceSize</key>
                <string>{304,140}</string>
            </dict>
            <key>rope_gary_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{1800,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,138}}</string>
                <key>sourceSize</key>
                <string>{1800,138}</string>
            </dict>
            <key>rope_gary_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{1800,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,138}}</string>
                <key>sourceSize</key>
                <string>{1800,138}</string>
            </dict>
            <key>rope_gary_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,423},{1800,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,138}}</string>
                <key>sourceSize</key>
                <string>{1800,138}</string>
            </dict>
            <key>rope_gary_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,563},{1800,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,138}}</string>
                <key>sourceSize</key>
                <string>{1800,138}</string>
            </dict>
            <key>rope_gary_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,703},{1800,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,138}}</string>
                <key>sourceSize</key>
                <string>{1800,138}</string>
            </dict>
            <key>rope_gary_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{1800,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,138}}</string>
                <key>sourceSize</key>
                <string>{1800,138}</string>
            </dict>
            <key>rope_gary_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,983},{1800,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,138}}</string>
                <key>sourceSize</key>
                <string>{1800,138}</string>
            </dict>
            <key>rope_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1804,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1804,140}}</string>
                <key>sourceSize</key>
                <string>{1804,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rope0206.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c285f68192be8ad03cfeba8df443153:43746a02523513273e9c1ce432ff1881:3f615dfe68c8eb81b68cc733ae01fb53$</string>
            <key>textureFileName</key>
            <string>rope0206.png</string>
        </dict>
    </dict>
</plist>
