<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ch_01-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_02-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,270},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2312,270},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_03-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,270},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,270},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_04-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2414,0},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2992,0},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_05-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,0},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,0},{578,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,270}}</string>
                <key>sourceSize</key>
                <string>{578,270}</string>
            </dict>
            <key>Ch_Course.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Ch_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,540},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Ch_story.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{340,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,217}}</string>
                <key>sourceSize</key>
                <string>{340,217}</string>
            </dict>
            <key>Ch_story_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{340,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,217}}</string>
                <key>sourceSize</key>
                <string>{340,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fraction_menu.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56b6c9524fc4b235129c44de1f37476c:a5911347adbe7a35b65d496c117f3fd0:5c04ed9dd7c55cd24a15a9d35f6e862c$</string>
            <key>textureFileName</key>
            <string>fraction_menu.png</string>
        </dict>
    </dict>
</plist>
