<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stuff_banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{239,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,443}}</string>
                <key>sourceSize</key>
                <string>{239,443}</string>
            </dict>
            <key>stuff_banboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{98,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,474}}</string>
                <key>sourceSize</key>
                <string>{98,474}</string>
            </dict>
            <key>stuff_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{229,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,443}}</string>
                <key>sourceSize</key>
                <string>{229,443}</string>
            </dict>
            <key>stuff_muffin.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,0},{385,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,375}}</string>
                <key>sourceSize</key>
                <string>{385,375}</string>
            </dict>
            <key>stuff_muffin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,682},{123,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,190}}</string>
                <key>sourceSize</key>
                <string>{123,190}</string>
            </dict>
            <key>stuff_muffin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,682},{113,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,199}}</string>
                <key>sourceSize</key>
                <string>{113,199}</string>
            </dict>
            <key>stuff_muffin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{379,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,208}}</string>
                <key>sourceSize</key>
                <string>{379,208}</string>
            </dict>
            <key>stuff_muffin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,474},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>stuff_muffin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,474},{267,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,205}}</string>
                <key>sourceSize</key>
                <string>{267,205}</string>
            </dict>
            <key>stuff_muffin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{233,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,195}}</string>
                <key>sourceSize</key>
                <string>{233,195}</string>
            </dict>
            <key>stuff_muffin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,682},{199,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,201}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>stuff_muffin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,682},{152,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,194}}</string>
                <key>sourceSize</key>
                <string>{152,194}</string>
            </dict>
            <key>stuff_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,883},{512,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,126}}</string>
                <key>sourceSize</key>
                <string>{512,126}</string>
            </dict>
            <key>stuff_tomato.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,883},{255,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,283}}</string>
                <key>sourceSize</key>
                <string>{255,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fraction_teaobj.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9ac6b8609c9e4087bbea0e28f333f1a:62e2fa335f79691693137f9444a872e0:14a1f68ff0457b75f09238a9445f5783$</string>
            <key>textureFileName</key>
            <string>fraction_teaobj.png</string>
        </dict>
    </dict>
</plist>
