<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Banboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3782,176},{100,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,468}}</string>
                <key>sourceSize</key>
                <string>{100,468}</string>
            </dict>
            <key>Background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,1814},{2731,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2731,1536}}</string>
                <key>sourceSize</key>
                <string>{2731,1536}</string>
            </dict>
            <key>Q_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,0},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>Q_Answer.png</key>
            <dict>
                <key>frame</key>
                <string>{{3278,176},{252,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,315}}</string>
                <key>sourceSize</key>
                <string>{252,315}</string>
            </dict>
            <key>Q_Answer_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{3530,176},{252,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,315}}</string>
                <key>sourceSize</key>
                <string>{252,315}</string>
            </dict>
            <key>Q_OK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,0},{134,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,90}}</string>
                <key>sourceSize</key>
                <string>{134,90}</string>
            </dict>
            <key>Q_Rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2819,0},{675,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,171}}</string>
                <key>sourceSize</key>
                <string>{675,171}</string>
            </dict>
            <key>Q_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2251,0},{284,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,157}}</string>
                <key>sourceSize</key>
                <string>{284,157}</string>
            </dict>
            <key>Q_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{2731,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2731,513}}</string>
                <key>sourceSize</key>
                <string>{2731,513}</string>
            </dict>
            <key>Q_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,176},{204,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,210}}</string>
                <key>sourceSize</key>
                <string>{204,210}</string>
            </dict>
            <key>Q_home_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,176},{204,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,210}}</string>
                <key>sourceSize</key>
                <string>{204,210}</string>
            </dict>
            <key>Q_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,176},{223,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,222}}</string>
                <key>sourceSize</key>
                <string>{223,222}</string>
            </dict>
            <key>Q_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2535,0},{284,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,157}}</string>
                <key>sourceSize</key>
                <string>{284,157}</string>
            </dict>
            <key>Q_tool Black.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,176},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{3654,0},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{3814,0},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool Reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool Reset_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,176},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool erase all.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,176},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool eraser.png</key>
            <dict>
                <key>frame</key>
                <string>{{3494,0},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,176},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,176},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool pic_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,176},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Q_tool.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,176},{1527,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1527,231}}</string>
                <key>sourceSize</key>
                <string>{1527,231}</string>
            </dict>
            <key>Q_top tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,0},{1116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1116,102}}</string>
                <key>sourceSize</key>
                <string>{1116,102}</string>
            </dict>
            <key>Q_tree Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2731,644},{363,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,630}}</string>
                <key>sourceSize</key>
                <string>{363,630}</string>
            </dict>
            <key>Q_tree Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3094,644},{366,1107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,1107}}</string>
                <key>sourceSize</key>
                <string>{366,1107}</string>
            </dict>
            <key>Q_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{3460,644},{442,1170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,1170}}</string>
                <key>sourceSize</key>
                <string>{442,1170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fraction_tea.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49604bb33c5a67a4b82a8bb438b69de6:c1ed890c813021ab2debf04664c49403:c5bdb230243b42d56cbe0c28c42c4e28$</string>
            <key>textureFileName</key>
            <string>fraction_tea.png</string>
        </dict>
    </dict>
</plist>
