<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bkimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,718},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>start_pizza.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{598,715}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,715}}</string>
                <key>sourceSize</key>
                <string>{598,715}</string>
            </dict>
            <key>start_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,718},{298,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,30}}</string>
                <key>sourceSize</key>
                <string>{298,30}</string>
            </dict>
            <key>start_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,718},{425,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,290}}</string>
                <key>sourceSize</key>
                <string>{425,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homescene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5915c0940be0df167b461b2d6cb23977:ec827b9766e89b4967e97c9978ba2e3f:37ced5b401ea3ad627184a1048649901$</string>
            <key>textureFileName</key>
            <string>homescene.png</string>
        </dict>
    </dict>
</plist>
