<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit1_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{528,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,151}}</string>
                <key>sourceSize</key>
                <string>{528,151}</string>
            </dict>
            <key>unit2_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1},{528,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,151}}</string>
                <key>sourceSize</key>
                <string>{528,151}</string>
            </dict>
            <key>unit3_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,154},{528,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,151}}</string>
                <key>sourceSize</key>
                <string>{528,151}</string>
            </dict>
            <key>unit4_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,307},{528,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,151}}</string>
                <key>sourceSize</key>
                <string>{528,151}</string>
            </dict>
            <key>unit5_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,460},{528,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,151}}</string>
                <key>sourceSize</key>
                <string>{528,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuscene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:980d32f24dfc1c9396522308362e5773:b11e4fd9665efa5672b70270d341aa1f:98e699c5c47eb1593b319aed5a35f3cf$</string>
            <key>textureFileName</key>
            <string>menuscene.png</string>
        </dict>
    </dict>
</plist>
