<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>peach1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,719},{115,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,103}}</string>
                <key>sourceSize</key>
                <string>{115,103}</string>
            </dict>
            <key>peach10_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{616,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,357}}</string>
                <key>sourceSize</key>
                <string>{616,357}</string>
            </dict>
            <key>peach10_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{616,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,357}}</string>
                <key>sourceSize</key>
                <string>{616,357}</string>
            </dict>
            <key>peach12_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,360},{615,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,357}}</string>
                <key>sourceSize</key>
                <string>{615,357}</string>
            </dict>
            <key>peach12_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,619},{615,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,357}}</string>
                <key>sourceSize</key>
                <string>{615,357}</string>
            </dict>
            <key>peach2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1020},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
            <key>peach3.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,824},{226,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,194}}</string>
                <key>sourceSize</key>
                <string>{226,194}</string>
            </dict>
            <key>peach4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,719},{448,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,103}}</string>
                <key>sourceSize</key>
                <string>{448,103}</string>
            </dict>
            <key>peach5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1105},{338,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,193}}</string>
                <key>sourceSize</key>
                <string>{338,193}</string>
            </dict>
            <key>peach6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,824},{338,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,279}}</string>
                <key>sourceSize</key>
                <string>{338,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>peach.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0d1435588282db788aa2ea0c28d83f:b67f37b2b07b427f47fee8a0fee4c71e:93d46e5e6f83dc40d4ba6bd40a782b15$</string>
            <key>textureFileName</key>
            <string>peach.png</string>
        </dict>
    </dict>
</plist>
