<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{161,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,131}}</string>
                <key>sourceSize</key>
                <string>{161,131}</string>
            </dict>
            <key>bnn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,199},{270,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,130}}</string>
                <key>sourceSize</key>
                <string>{270,130}</string>
            </dict>
            <key>bnn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{160,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,357}}</string>
                <key>sourceSize</key>
                <string>{160,357}</string>
            </dict>
            <key>nut_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,859},{536,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,270}}</string>
                <key>sourceSize</key>
                <string>{536,270}</string>
            </dict>
            <key>nut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,0},{135,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,160}}</string>
                <key>sourceSize</key>
                <string>{135,160}</string>
            </dict>
            <key>stuff_muffin.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,859},{385,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,375}}</string>
                <key>sourceSize</key>
                <string>{385,375}</string>
            </dict>
            <key>stuff_muffin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,0},{123,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,190}}</string>
                <key>sourceSize</key>
                <string>{123,190}</string>
            </dict>
            <key>stuff_muffin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{113,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,199}}</string>
                <key>sourceSize</key>
                <string>{113,199}</string>
            </dict>
            <key>stuff_muffin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,404},{379,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,208}}</string>
                <key>sourceSize</key>
                <string>{379,208}</string>
            </dict>
            <key>stuff_muffin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,404},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>stuff_muffin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,199},{267,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,205}}</string>
                <key>sourceSize</key>
                <string>{267,205}</string>
            </dict>
            <key>stuff_muffin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,199},{233,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,195}}</string>
                <key>sourceSize</key>
                <string>{233,195}</string>
            </dict>
            <key>stuff_muffin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,199},{199,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,201}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>stuff_muffin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{152,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,194}}</string>
                <key>sourceSize</key>
                <string>{152,194}</string>
            </dict>
            <key>tree_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,404},{110,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,455}}</string>
                <key>sourceSize</key>
                <string>{110,455}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fraction_teaobj.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1e7f7b6006e6e3f99804f6f7d33b576:082219503964e5c44c4904e55edaf2dd:14a1f68ff0457b75f09238a9445f5783$</string>
            <key>textureFileName</key>
            <string>fraction_teaobj.png</string>
        </dict>
    </dict>
</plist>
