<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>topic1_wood_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,547},{520,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,520}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>topic1_wood_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{518,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,264}}</string>
                <key>sourceSize</key>
                <string>{518,264}</string>
            </dict>
            <key>topic1_wood_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{366,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,273}}</string>
                <key>sourceSize</key>
                <string>{366,273}</string>
            </dict>
            <key>topic1_wood_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,272},{264,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,275}}</string>
                <key>sourceSize</key>
                <string>{264,275}</string>
            </dict>
            <key>topic1_wood_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{200,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,272}}</string>
                <key>sourceSize</key>
                <string>{200,272}</string>
            </dict>
            <key>topic1_wood_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,547},{139,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,279}}</string>
                <key>sourceSize</key>
                <string>{139,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fraction_Wood.png</string>
            <key>size</key>
            <string>{718,1067}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da38588b791d3ebda20bc229fc0876ab:d60fa3e145304253042df80ca91eb7e0:225c2fbee19e85cf8aa99311b78efc89$</string>
            <key>textureFileName</key>
            <string>Fraction_Wood.png</string>
        </dict>
    </dict>
</plist>
