<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_no01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,934},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,934},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,934},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,934},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no06.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,626},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no07.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,626},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no08.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,706},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,786},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no10.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,706},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,786},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>bb_no12.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,866},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn01_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn02_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn03_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn04.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,726},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn04_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn05.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn05_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,830},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,726},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn06_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn07.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn07_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,830},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn08.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,726},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn08_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,418},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn09.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,418},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn09_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,830},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn10.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,522},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn10_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,522},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn11.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,658},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn11_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,658},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,762},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn12_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,762},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,866},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_ok_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,866},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>display_txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{419,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,66}}</string>
                <key>sourceSize</key>
                <string>{419,66}</string>
            </dict>
            <key>frac_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,654}}</string>
                <key>sourceSize</key>
                <string>{654,654}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equalcontrol.png</string>
            <key>size</key>
            <string>{866,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:818d3cd7e446dc7b75a0ded5565d420d:dbbb3604a6c902e8ccd75ebee319d442:ee282db0326f7d686c80aa63e06555df$</string>
            <key>textureFileName</key>
            <string>equalcontrol.png</string>
        </dict>
    </dict>
</plist>
