<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>bt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1930},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_01_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1689},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,243},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_02_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1207},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_03_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,725},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_04_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1448},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2171},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>bt_05_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2412},{1209,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,241}}</string>
                <key>sourceSize</key>
                <string>{1209,241}</string>
            </dict>
            <key>cover_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,243},{311,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,235}}</string>
                <key>sourceSize</key>
                <string>{311,235}</string>
            </dict>
            <key>cover_start_clik.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{311,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,235}}</string>
                <key>sourceSize</key>
                <string>{311,235}</string>
            </dict>
            <key>erease.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,108},{137,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,128}}</string>
                <key>sourceSize</key>
                <string>{137,128}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,108},{88,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,112}</string>
            </dict>
            <key>topic1_OK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,108},{218,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,135}}</string>
                <key>sourceSize</key>
                <string>{218,135}</string>
            </dict>
            <key>topic1_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2412},{218,1157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,1157}}</string>
                <key>sourceSize</key>
                <string>{218,1157}</string>
            </dict>
            <key>topic1_number02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,0},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number03.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number04.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,0},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,0},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number06.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,0},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number09.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,108},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,108},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number11.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,108},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,108},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>topic1_number_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2412},{249,1314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,1314}}</string>
                <key>sourceSize</key>
                <string>{249,1314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fraction_Btn.png</string>
            <key>size</key>
            <string>{1831,3726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c24bb20903424970a591409efb91007:4a37431854a8dd8561bf09330e09b5a5:39eb1de58f5aa4af258e64a1010e4f37$</string>
            <key>textureFileName</key>
            <string>Fraction_Btn.png</string>
        </dict>
    </dict>
</plist>
