<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bean01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,203},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean04.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,203},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,203},{406,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,150}}</string>
                <key>sourceSize</key>
                <string>{406,150}</string>
            </dict>
            <key>ceyes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,203},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>ceyes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,203},{83,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>ceyes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,203},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,203},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>checkboxon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,203},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>checkoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,203},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>checkon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,203},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>cmouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,203},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>cmouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,203},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>cuber01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,203},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,413},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,413},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber04.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,413},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber05.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,413},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber06.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,413},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,413},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,413},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cubershadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,413},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>flame1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,413},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,633},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,633},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,633},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,633},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,633},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,633},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,633},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,633},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,633},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,853},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1033},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>scoretable.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1033},{506,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,612}}</string>
                <key>sourceSize</key>
                <string>{506,612}</string>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1033},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderProgress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1033},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1033},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderball.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1033},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>sliderballnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1033},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sliderballpressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1033},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sr_f_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1033},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>triblock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1033},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>triouter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1033},{171,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,168}}</string>
                <key>sourceSize</key>
                <string>{171,168}</string>
            </dict>
            <key>trishadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1645},{137,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,23}}</string>
                <key>sourceSize</key>
                <string>{137,23}</string>
            </dict>
            <key>w_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1645},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene101.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aa78803308d23a9bf55084822385987:f52df79046795727fd17df1d31f3317a:9a04fb8b08cf709da36490be6b44d9f8$</string>
            <key>textureFileName</key>
            <string>scene101.png</string>
        </dict>
    </dict>
</plist>
