<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a77.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2042},{245,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,535}}</string>
                <key>sourceSize</key>
                <string>{245,535}</string>
            </dict>
            <key>ch_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,175},{135,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,179}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>ch_home_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,175},{135,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,179}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>channel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,175},{453,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,181}}</string>
                <key>sourceSize</key>
                <string>{453,181}</string>
            </dict>
            <key>channel_1_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,175},{453,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,181}}</string>
                <key>sourceSize</key>
                <string>{453,181}</string>
            </dict>
            <key>channel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,356},{548,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,225}}</string>
                <key>sourceSize</key>
                <string>{548,225}</string>
            </dict>
            <key>channel_2_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,581},{548,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,225}}</string>
                <key>sourceSize</key>
                <string>{548,225}</string>
            </dict>
            <key>channel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,356},{556,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,188}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>channel_3_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{556,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,188}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>channel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{582,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,175}}</string>
                <key>sourceSize</key>
                <string>{582,175}</string>
            </dict>
            <key>channel_4_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,0},{582,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,175}}</string>
                <key>sourceSize</key>
                <string>{582,175}</string>
            </dict>
            <key>channel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{584,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,169}}</string>
                <key>sourceSize</key>
                <string>{584,169}</string>
            </dict>
            <key>channel_5_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{584,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,169}}</string>
                <key>sourceSize</key>
                <string>{584,169}</string>
            </dict>
            <key>channel_who.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1584},{635,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,434}}</string>
                <key>sourceSize</key>
                <string>{635,434}</string>
            </dict>
            <key>channel_who2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1584},{635,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,434}}</string>
                <key>sourceSize</key>
                <string>{635,434}</string>
            </dict>
            <key>main_nut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1218},{369,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,366}}</string>
                <key>sourceSize</key>
                <string>{369,366}</string>
            </dict>
            <key>main_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2042},{515,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,458}}</string>
                <key>sourceSize</key>
                <string>{515,458}</string>
            </dict>
            <key>main_start_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1584},{515,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,458}}</string>
                <key>sourceSize</key>
                <string>{515,458}</string>
            </dict>
            <key>member.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2577},{1589,1244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1589,1244}}</string>
                <key>sourceSize</key>
                <string>{1589,1244}</string>
            </dict>
            <key>member_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,131}}</string>
                <key>sourceSize</key>
                <string>{164,131}</string>
            </dict>
            <key>member_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,581},{342,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,226}}</string>
                <key>sourceSize</key>
                <string>{342,226}</string>
            </dict>
            <key>story_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,875},{361,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,313}}</string>
                <key>sourceSize</key>
                <string>{361,313}</string>
            </dict>
            <key>story_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,875},{369,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,301}}</string>
                <key>sourceSize</key>
                <string>{369,301}</string>
            </dict>
            <key>story_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,875},{388,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,343}}</string>
                <key>sourceSize</key>
                <string>{388,343}</string>
            </dict>
            <key>story_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,581},{366,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,294}}</string>
                <key>sourceSize</key>
                <string>{366,294}</string>
            </dict>
            <key>story_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1218},{403,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,348}}</string>
                <key>sourceSize</key>
                <string>{403,348}</string>
            </dict>
            <key>story_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,875},{361,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,313}}</string>
                <key>sourceSize</key>
                <string>{361,313}</string>
            </dict>
            <key>story_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,875},{369,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,301}}</string>
                <key>sourceSize</key>
                <string>{369,301}</string>
            </dict>
            <key>story_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{388,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,343}}</string>
                <key>sourceSize</key>
                <string>{388,343}</string>
            </dict>
            <key>story_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,581},{366,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,294}}</string>
                <key>sourceSize</key>
                <string>{366,294}</string>
            </dict>
            <key>story_n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1218},{403,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,348}}</string>
                <key>sourceSize</key>
                <string>{403,348}</string>
            </dict>
            <key>tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,581},{98,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,259}}</string>
                <key>sourceSize</key>
                <string>{98,259}</string>
            </dict>
            <key>tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,581},{100,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,245}}</string>
                <key>sourceSize</key>
                <string>{100,245}</string>
            </dict>
            <key>tab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,356},{119,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,220}}</string>
                <key>sourceSize</key>
                <string>{119,220}</string>
            </dict>
            <key>tab_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,356},{119,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,214}}</string>
                <key>sourceSize</key>
                <string>{119,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teach_scene.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5bcbefecfef61f6456e683e1998e274:881f485b4860afcbecffdbe6d810bbb8:ff5ae691f8e7334ac456bb95a8b33c1d$</string>
            <key>textureFileName</key>
            <string>teach_scene.png</string>
        </dict>
    </dict>
</plist>
