<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1775},{130,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,346}}</string>
                <key>sourceSize</key>
                <string>{130,346}</string>
            </dict>
            <key>ice10_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,893},{638,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,419}}</string>
                <key>sourceSize</key>
                <string>{638,419}</string>
            </dict>
            <key>ice10_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1314},{638,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,419}}</string>
                <key>sourceSize</key>
                <string>{638,419}</string>
            </dict>
            <key>ice12_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{650,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,444}}</string>
                <key>sourceSize</key>
                <string>{650,444}</string>
            </dict>
            <key>ice12_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,447},{650,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,444}}</string>
                <key>sourceSize</key>
                <string>{650,444}</string>
            </dict>
            <key>ice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1136},{205,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,347}}</string>
                <key>sourceSize</key>
                <string>{205,347}</string>
            </dict>
            <key>ice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,855},{279,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,347}}</string>
                <key>sourceSize</key>
                <string>{279,347}</string>
            </dict>
            <key>ice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1},{353,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,347}}</string>
                <key>sourceSize</key>
                <string>{353,347}</string>
            </dict>
            <key>ice5.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1343},{430,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,346}}</string>
                <key>sourceSize</key>
                <string>{430,346}</string>
            </dict>
            <key>ice6.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,350},{503,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,347}}</string>
                <key>sourceSize</key>
                <string>{503,347}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d4519304a9517d23f231e109015b42c:2f80271060412bfd14aa15578c65af0d:cff808ca0f70b591245cfda0ce34c370$</string>
            <key>textureFileName</key>
            <string>ice.png</string>
        </dict>
    </dict>
</plist>
