<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1235},{109,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{109,121}</string>
            </dict>
            <key>apple10_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,384},{615,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,363}}</string>
                <key>sourceSize</key>
                <string>{615,363}</string>
            </dict>
            <key>apple10_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,618},{615,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,363}}</string>
                <key>sourceSize</key>
                <string>{615,363}</string>
            </dict>
            <key>apple12_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{615,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,381}}</string>
                <key>sourceSize</key>
                <string>{615,381}</string>
            </dict>
            <key>apple12_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1},{615,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,381}}</string>
                <key>sourceSize</key>
                <string>{615,381}</string>
            </dict>
            <key>apple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,749},{214,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,121}}</string>
                <key>sourceSize</key>
                <string>{214,121}</string>
            </dict>
            <key>apple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1193},{218,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,210}}</string>
                <key>sourceSize</key>
                <string>{218,210}</string>
            </dict>
            <key>apple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,749},{422,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,122}}</string>
                <key>sourceSize</key>
                <string>{422,122}</string>
            </dict>
            <key>apple5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,965},{322,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,223}}</string>
                <key>sourceSize</key>
                <string>{322,223}</string>
            </dict>
            <key>apple6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,873},{322,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,318}}</string>
                <key>sourceSize</key>
                <string>{322,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>apple.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de734d6e8d8685b90189a19bdf02c0aa:4860d422a1722af15396f6bb0928d7a9:03fd35765c52dc428ff3968328cf7a50$</string>
            <key>textureFileName</key>
            <string>apple.png</string>
        </dict>
    </dict>
</plist>
