<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1468},{125,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,104}}</string>
                <key>sourceSize</key>
                <string>{125,104}</string>
            </dict>
            <key>bun10_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{603,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,592}}</string>
                <key>sourceSize</key>
                <string>{603,592}</string>
            </dict>
            <key>bun10_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1},{603,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,592}}</string>
                <key>sourceSize</key>
                <string>{603,592}</string>
            </dict>
            <key>bun12_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1},{603,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,592}}</string>
                <key>sourceSize</key>
                <string>{603,592}</string>
            </dict>
            <key>bun12_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{603,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,592}}</string>
                <key>sourceSize</key>
                <string>{603,592}</string>
            </dict>
            <key>bun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1222},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,104}}</string>
                <key>sourceSize</key>
                <string>{244,104}</string>
            </dict>
            <key>bun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,369},{246,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,193}}</string>
                <key>sourceSize</key>
                <string>{246,193}</string>
            </dict>
            <key>bun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1222},{483,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,104}}</string>
                <key>sourceSize</key>
                <string>{483,104}</string>
            </dict>
            <key>bun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1},{366,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,193}}</string>
                <key>sourceSize</key>
                <string>{366,193}</string>
            </dict>
            <key>bun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1707},{366,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,282}}</string>
                <key>sourceSize</key>
                <string>{366,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bun.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34b0da6634dbf688577ee18c26ff7637:a09d019997895f6d75db36d15419ed93:a1d4d39e846316fd08888361f956727c$</string>
            <key>textureFileName</key>
            <string>bun.png</string>
        </dict>
    </dict>
</plist>
