<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pancake4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1595},{401,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,399}}</string>
                <key>sourceSize</key>
                <string>{401,399}</string>
            </dict>
            <key>pancake4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1595},{401,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,399}}</string>
                <key>sourceSize</key>
                <string>{401,399}</string>
            </dict>
            <key>pancake4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,403},{401,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,399}}</string>
                <key>sourceSize</key>
                <string>{401,399}</string>
            </dict>
            <key>pancake4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,403},{401,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,399}}</string>
                <key>sourceSize</key>
                <string>{401,399}</string>
            </dict>
            <key>pancake5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1},{471,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,400}}</string>
                <key>sourceSize</key>
                <string>{471,400}</string>
            </dict>
            <key>pancake5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1},{471,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,400}}</string>
                <key>sourceSize</key>
                <string>{471,400}</string>
            </dict>
            <key>pancake5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,403},{471,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,400}}</string>
                <key>sourceSize</key>
                <string>{471,400}</string>
            </dict>
            <key>pancake5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,876},{471,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,400}}</string>
                <key>sourceSize</key>
                <string>{471,400}</string>
            </dict>
            <key>pancake5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1349},{471,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,400}}</string>
                <key>sourceSize</key>
                <string>{471,400}</string>
            </dict>
            <key>pancake_gary_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{786,795}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,795}}</string>
                <key>sourceSize</key>
                <string>{786,795}</string>
            </dict>
            <key>pancake_gary_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,798},{786,795}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,795}}</string>
                <key>sourceSize</key>
                <string>{786,795}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pancake0405.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0012b57b3d347a791cf62a6d360e642d:eec68aea70ab6a4509ea8169eea4b071:ddfad725e1009f591135d87fbcbae27c$</string>
            <key>textureFileName</key>
            <string>pancake0405.png</string>
        </dict>
    </dict>
</plist>
