<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pizza2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,808},{391,776}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,776}}</string>
                <key>sourceSize</key>
                <string>{391,776}</string>
            </dict>
            <key>pizza2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1586},{391,776}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,776}}</string>
                <key>sourceSize</key>
                <string>{391,776}</string>
            </dict>
            <key>pizza3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{393,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,585}}</string>
                <key>sourceSize</key>
                <string>{393,585}</string>
            </dict>
            <key>pizza3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,808},{677,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,391}}</string>
                <key>sourceSize</key>
                <string>{677,391}</string>
            </dict>
            <key>pizza3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1614},{393,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,584}}</string>
                <key>sourceSize</key>
                <string>{393,584}</string>
            </dict>
            <key>pizza_gary_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{804,804}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,804}}</string>
                <key>sourceSize</key>
                <string>{804,804}</string>
            </dict>
            <key>pizza_gary_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{804,804}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,804}}</string>
                <key>sourceSize</key>
                <string>{804,804}</string>
            </dict>
            <key>pizza_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,2},{804,804}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,804}}</string>
                <key>sourceSize</key>
                <string>{804,804}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pizza0203.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02e01801b2f328ad14fb53820836b243:0c391e22242871abb5b6c21a5107f0c3:342eb0cfba48d09caa7f99f460068f84$</string>
            <key>textureFileName</key>
            <string>pizza0203.png</string>
        </dict>
    </dict>
</plist>
