<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ribbon10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,157},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,343},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,529},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,715},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,157},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,343},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,529},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,715},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,157},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,157},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>ribbon8_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>ribbon8_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>ribbon8_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>ribbon8_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>ribbon8_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,157},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>ribbon8_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>ribbon8_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,619},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>ribbon8_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,850},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ribbon0810.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92486a5013f1e7985905d3fc179e0fe7:ec1213ddd55ca77507e9eb695e9b6b25:a9d1e4532a1a5915c2aaca81e3ab4d30$</string>
            <key>textureFileName</key>
            <string>ribbon0810.png</string>
        </dict>
    </dict>
</plist>
