<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>onion4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,779},{390,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,390}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>onion4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,789},{390,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,390}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>onion4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1171},{390,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,390}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>onion4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,789},{390,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,390}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>onion5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>onion5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,395},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>onion5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,789},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>onion5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1251},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>onion5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,779},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>onion_gary_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{777,776}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{777,776}}</string>
                <key>sourceSize</key>
                <string>{777,776}</string>
            </dict>
            <key>onion_gary_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1},{777,776}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{777,776}}</string>
                <key>sourceSize</key>
                <string>{777,776}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>onion0405.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9452c31a0afbc86673394fad51634d2:fd84bcda5982f98aa08b67c802c960c3:b110e9d1bbe59de98de59472eb15fc4b$</string>
            <key>textureFileName</key>
            <string>onion0405.png</string>
        </dict>
    </dict>
</plist>
