<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>answer_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>answer_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>equal_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>equal_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>example_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,135},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>example_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,135},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>menu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,269},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>menu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,269},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>nextque_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1},{55,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,116}}</string>
                <key>sourceSize</key>
                <string>{55,116}</string>
            </dict>
            <key>nextque_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,119},{55,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,116}}</string>
                <key>sourceSize</key>
                <string>{55,116}</string>
            </dict>
            <key>prevque_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,237},{55,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,116}}</string>
                <key>sourceSize</key>
                <string>{55,116}</string>
            </dict>
            <key>prevque_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,355},{55,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,116}}</string>
                <key>sourceSize</key>
                <string>{55,116}</string>
            </dict>
            <key>reset_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,269},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>reset_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quecontrol.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a722bfd4311052e79265b19aa59d319:33d3fa76fe4f3aa7ff3db69ff02e6477:edebe7f9844882f5c7ebdd31d0a9f023$</string>
            <key>textureFileName</key>
            <string>quecontrol.png</string>
        </dict>
    </dict>
</plist>
