<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pencil1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,613},{102,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,304}}</string>
                <key>sourceSize</key>
                <string>{102,304}</string>
            </dict>
            <key>pencil10_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,833},{757,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,414}}</string>
                <key>sourceSize</key>
                <string>{757,414}</string>
            </dict>
            <key>pencil10_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1249},{757,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,414}}</string>
                <key>sourceSize</key>
                <string>{757,414}</string>
            </dict>
            <key>pencil12_gary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{759,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,414}}</string>
                <key>sourceSize</key>
                <string>{759,414}</string>
            </dict>
            <key>pencil12_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{759,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,414}}</string>
                <key>sourceSize</key>
                <string>{759,414}</string>
            </dict>
            <key>pencil2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,613},{146,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,304}}</string>
                <key>sourceSize</key>
                <string>{146,304}</string>
            </dict>
            <key>pencil3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,307},{194,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,304}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>pencil4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1},{234,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,304}}</string>
                <key>sourceSize</key>
                <string>{234,304}</string>
            </dict>
            <key>pencil5.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1555},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>pencil6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1249},{332,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,304}}</string>
                <key>sourceSize</key>
                <string>{332,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pencil.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f55996d46beab0fb760542e365ee338:6a0b96bd7084ed75299d73d958a7b141:7497434a6b405767e714a95d35432296$</string>
            <key>textureFileName</key>
            <string>pencil.png</string>
        </dict>
    </dict>
</plist>
