<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pizza4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,396},{391,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,391}}</string>
                <key>sourceSize</key>
                <string>{391,391}</string>
            </dict>
            <key>pizza4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,789},{391,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,391}}</string>
                <key>sourceSize</key>
                <string>{391,391}</string>
            </dict>
            <key>pizza4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1182},{391,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,391}}</string>
                <key>sourceSize</key>
                <string>{391,391}</string>
            </dict>
            <key>pizza4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1575},{391,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,391}}</string>
                <key>sourceSize</key>
                <string>{391,391}</string>
            </dict>
            <key>pizza5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>pizza5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1614},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>pizza5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>pizza5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>pizza5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,396},{460,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,392}}</string>
                <key>sourceSize</key>
                <string>{460,392}</string>
            </dict>
            <key>pizza_gary_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{804,804}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,804}}</string>
                <key>sourceSize</key>
                <string>{804,804}</string>
            </dict>
            <key>pizza_gary_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{804,804}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,804}}</string>
                <key>sourceSize</key>
                <string>{804,804}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pizza0405.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39563b180836abe69ffc9a322e030c7e:0b210921ccef68e30fd87102fa22bb60:f0367d5339f49b64a9341b84b0ed0c0f$</string>
            <key>textureFileName</key>
            <string>pizza0405.png</string>
        </dict>
    </dict>
</plist>
