<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1601},{245,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,535}}</string>
                <key>sourceSize</key>
                <string>{245,535}</string>
            </dict>
            <key>channel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{453,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,181}}</string>
                <key>sourceSize</key>
                <string>{453,181}</string>
            </dict>
            <key>channel_1_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,330},{453,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,181}}</string>
                <key>sourceSize</key>
                <string>{453,181}</string>
            </dict>
            <key>channel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,151},{548,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,179}}</string>
                <key>sourceSize</key>
                <string>{548,179}</string>
            </dict>
            <key>channel_2_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,151},{548,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,179}}</string>
                <key>sourceSize</key>
                <string>{548,179}</string>
            </dict>
            <key>channel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,330},{556,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,188}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>channel_3_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,330},{556,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,188}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>channel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{662,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,149}}</string>
                <key>sourceSize</key>
                <string>{662,149}</string>
            </dict>
            <key>channel_4_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,0},{662,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,149}}</string>
                <key>sourceSize</key>
                <string>{662,149}</string>
            </dict>
            <key>channel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{711,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,151}}</string>
                <key>sourceSize</key>
                <string>{711,151}</string>
            </dict>
            <key>channel_5_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,0},{711,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,151}}</string>
                <key>sourceSize</key>
                <string>{711,151}</string>
            </dict>
            <key>channel_who.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1167},{635,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,434}}</string>
                <key>sourceSize</key>
                <string>{635,434}</string>
            </dict>
            <key>channel_who2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1167},{635,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,434}}</string>
                <key>sourceSize</key>
                <string>{635,434}</string>
            </dict>
            <key>main_nut.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1167},{369,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,366}}</string>
                <key>sourceSize</key>
                <string>{369,366}</string>
            </dict>
            <key>main_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1601},{524,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,449}}</string>
                <key>sourceSize</key>
                <string>{524,449}</string>
            </dict>
            <key>main_start_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1601},{524,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,439}}</string>
                <key>sourceSize</key>
                <string>{524,439}</string>
            </dict>
            <key>story_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,819},{361,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,313}}</string>
                <key>sourceSize</key>
                <string>{361,313}</string>
            </dict>
            <key>story_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,518},{369,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,301}}</string>
                <key>sourceSize</key>
                <string>{369,301}</string>
            </dict>
            <key>story_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,819},{388,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,343}}</string>
                <key>sourceSize</key>
                <string>{388,343}</string>
            </dict>
            <key>story_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,518},{366,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,294}}</string>
                <key>sourceSize</key>
                <string>{366,294}</string>
            </dict>
            <key>story_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1167},{403,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,348}}</string>
                <key>sourceSize</key>
                <string>{403,348}</string>
            </dict>
            <key>story_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,819},{361,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,313}}</string>
                <key>sourceSize</key>
                <string>{361,313}</string>
            </dict>
            <key>story_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,518},{369,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,301}}</string>
                <key>sourceSize</key>
                <string>{369,301}</string>
            </dict>
            <key>story_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,819},{388,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,343}}</string>
                <key>sourceSize</key>
                <string>{388,343}</string>
            </dict>
            <key>story_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,518},{366,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,294}}</string>
                <key>sourceSize</key>
                <string>{366,294}</string>
            </dict>
            <key>story_n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,819},{403,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,348}}</string>
                <key>sourceSize</key>
                <string>{403,348}</string>
            </dict>
            <key>tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,518},{98,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,259}}</string>
                <key>sourceSize</key>
                <string>{98,259}</string>
            </dict>
            <key>tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,518},{100,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,245}}</string>
                <key>sourceSize</key>
                <string>{100,245}</string>
            </dict>
            <key>tab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,518},{119,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,220}}</string>
                <key>sourceSize</key>
                <string>{119,220}</string>
            </dict>
            <key>tab_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{119,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,214}}</string>
                <key>sourceSize</key>
                <string>{119,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teach_scene.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b6fc1bb9a7e5b9634116e5ec97d3007:305824c9675a979cfd102575d7397e8c:ff5ae691f8e7334ac456bb95a8b33c1d$</string>
            <key>textureFileName</key>
            <string>teach_scene.png</string>
        </dict>
    </dict>
</plist>
