<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>channel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,639},{453,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,181}}</string>
                <key>sourceSize</key>
                <string>{453,181}</string>
            </dict>
            <key>channel_1_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,639},{453,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,181}}</string>
                <key>sourceSize</key>
                <string>{453,181}</string>
            </dict>
            <key>channel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1088},{548,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,179}}</string>
                <key>sourceSize</key>
                <string>{548,179}</string>
            </dict>
            <key>channel_2_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1088},{548,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,179}}</string>
                <key>sourceSize</key>
                <string>{548,179}</string>
            </dict>
            <key>channel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1088},{556,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,188}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>channel_3_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1276},{556,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,188}}</string>
                <key>sourceSize</key>
                <string>{556,188}</string>
            </dict>
            <key>channel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1710},{662,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,149}}</string>
                <key>sourceSize</key>
                <string>{662,149}</string>
            </dict>
            <key>channel_4_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1710},{662,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,149}}</string>
                <key>sourceSize</key>
                <string>{662,149}</string>
            </dict>
            <key>channel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1861},{711,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,151}}</string>
                <key>sourceSize</key>
                <string>{711,151}</string>
            </dict>
            <key>channel_5_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1710},{711,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,151}}</string>
                <key>sourceSize</key>
                <string>{711,151}</string>
            </dict>
            <key>channel_who.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1276},{635,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,434}}</string>
                <key>sourceSize</key>
                <string>{635,434}</string>
            </dict>
            <key>channel_who2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1276},{635,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,434}}</string>
                <key>sourceSize</key>
                <string>{635,434}</string>
            </dict>
            <key>character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{321,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,273}}</string>
                <key>sourceSize</key>
                <string>{321,273}</string>
            </dict>
            <key>character_1_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{321,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,273}}</string>
                <key>sourceSize</key>
                <string>{321,273}</string>
            </dict>
            <key>character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,0},{335,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,273}}</string>
                <key>sourceSize</key>
                <string>{335,273}</string>
            </dict>
            <key>character_2_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,0},{335,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,273}}</string>
                <key>sourceSize</key>
                <string>{335,273}</string>
            </dict>
            <key>character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{339,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,287}}</string>
                <key>sourceSize</key>
                <string>{339,287}</string>
            </dict>
            <key>character_3_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,273},{339,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,287}}</string>
                <key>sourceSize</key>
                <string>{339,287}</string>
            </dict>
            <key>character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{326,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,264}}</string>
                <key>sourceSize</key>
                <string>{326,264}</string>
            </dict>
            <key>character_4_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,0},{326,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,264}}</string>
                <key>sourceSize</key>
                <string>{326,264}</string>
            </dict>
            <key>character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,273},{356,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,316}}</string>
                <key>sourceSize</key>
                <string>{356,316}</string>
            </dict>
            <key>character_5_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,273},{356,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,316}}</string>
                <key>sourceSize</key>
                <string>{356,316}</string>
            </dict>
            <key>main_nut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,273},{369,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,366}}</string>
                <key>sourceSize</key>
                <string>{369,366}</string>
            </dict>
            <key>main_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,639},{524,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,449}}</string>
                <key>sourceSize</key>
                <string>{524,449}</string>
            </dict>
            <key>main_start_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,639},{524,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,439}}</string>
                <key>sourceSize</key>
                <string>{524,439}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teach_scene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57f27fb69eb1f49c495ebf1507ba13fb:77275fd8ed146960c7d48ed580b356d9:ff5ae691f8e7334ac456bb95a8b33c1d$</string>
            <key>textureFileName</key>
            <string>teach_scene.png</string>
        </dict>
    </dict>
</plist>
