<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,86},{108,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,123}}</string>
                <key>sourceSize</key>
                <string>{108,123}</string>
            </dict>
            <key>ans_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,86},{108,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,123}}</string>
                <key>sourceSize</key>
                <string>{108,123}</string>
            </dict>
            <key>backcolor.png</key>
            <dict>
                <key>frame</key>
                <string>{{3003,595},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,1575},{2731,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2731,1536}}</string>
                <key>sourceSize</key>
                <string>{2731,1536}</string>
            </dict>
            <key>banana_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,595},{635,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,322}}</string>
                <key>sourceSize</key>
                <string>{635,322}</string>
            </dict>
            <key>banana_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,595},{635,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,322}}</string>
                <key>sourceSize</key>
                <string>{635,322}</string>
            </dict>
            <key>banana_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2809,302},{117,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,249}}</string>
                <key>sourceSize</key>
                <string>{117,249}</string>
            </dict>
            <key>branch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2501,1001},{264,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,548}}</string>
                <key>sourceSize</key>
                <string>{264,548}</string>
            </dict>
            <key>branch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2237,1001},{264,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,548}}</string>
                <key>sourceSize</key>
                <string>{264,548}</string>
            </dict>
            <key>branch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1001},{67,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,453}}</string>
                <key>sourceSize</key>
                <string>{67,453}</string>
            </dict>
            <key>brush.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>eraser_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,86},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>flower_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2765,1001},{415,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,574}}</string>
                <key>sourceSize</key>
                <string>{415,574}</string>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3180,1001},{415,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,574}}</string>
                <key>sourceSize</key>
                <string>{415,574}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,595},{106,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,317}}</string>
                <key>sourceSize</key>
                <string>{106,317}</string>
            </dict>
            <key>grape_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1001},{392,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,406}}</string>
                <key>sourceSize</key>
                <string>{392,406}</string>
            </dict>
            <key>grape_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3515,595},{392,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,406}}</string>
                <key>sourceSize</key>
                <string>{392,406}</string>
            </dict>
            <key>grape_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,0},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2966,86},{152,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,135}}</string>
                <key>sourceSize</key>
                <string>{152,135}</string>
            </dict>
            <key>home_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2814,86},{152,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,135}}</string>
                <key>sourceSize</key>
                <string>{152,135}</string>
            </dict>
            <key>n-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,0},{95,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>n-10_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,0},{95,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>n-10_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{95,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>n-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>n-11_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,0},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>n-11_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,0},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>n-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,0},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>n-12_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,0},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>n-12_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,0},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>n-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,0},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>n-2_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,0},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>n-2_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,0},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>n-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>n-3_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>n-3_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,0},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>n-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,0},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>n-4_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,0},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>n-4_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,0},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>n-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,0},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>n-5_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,0},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>n-5_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,0},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>n-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,0},{50,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,73}</string>
            </dict>
            <key>n-6_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,0},{50,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,73}</string>
            </dict>
            <key>n-6_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,0},{50,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,73}</string>
            </dict>
            <key>n-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>n-7_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>n-7_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,0},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>n-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,0},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>n-8_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,0},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>n-8_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,0},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>n-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2105,0},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>n-9_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{2151,0},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>n-9_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{2059,0},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>next_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{3224,86},{106,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,136}}</string>
                <key>sourceSize</key>
                <string>{106,136}</string>
            </dict>
            <key>next_L_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{3118,86},{106,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,136}}</string>
                <key>sourceSize</key>
                <string>{106,136}</string>
            </dict>
            <key>next_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2112,86},{105,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,124}}</string>
                <key>sourceSize</key>
                <string>{105,124}</string>
            </dict>
            <key>next_R_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2217,86},{105,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,124}}</string>
                <key>sourceSize</key>
                <string>{105,124}</string>
            </dict>
            <key>nut_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,595},{547,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,293}}</string>
                <key>sourceSize</key>
                <string>{547,293}</string>
            </dict>
            <key>nut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3059,302},{547,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,293}}</string>
                <key>sourceSize</key>
                <string>{547,293}</string>
            </dict>
            <key>nut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,86},{92,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,109}}</string>
                <key>sourceSize</key>
                <string>{92,109}</string>
            </dict>
            <key>pancake_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1001},{468,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,465}}</string>
                <key>sourceSize</key>
                <string>{468,465}</string>
            </dict>
            <key>pancake_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1001},{468,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,465}}</string>
                <key>sourceSize</key>
                <string>{468,465}</string>
            </dict>
            <key>pancake_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,302},{148,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,237}}</string>
                <key>sourceSize</key>
                <string>{148,237}</string>
            </dict>
            <key>pancake_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,302},{144,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,233}}</string>
                <key>sourceSize</key>
                <string>{144,233}</string>
            </dict>
            <key>pancake_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2926,302},{133,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,250}}</string>
                <key>sourceSize</key>
                <string>{133,250}</string>
            </dict>
            <key>pancake_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,302},{469,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,241}}</string>
                <key>sourceSize</key>
                <string>{469,241}</string>
            </dict>
            <key>pancake_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,302},{398,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,237}}</string>
                <key>sourceSize</key>
                <string>{398,237}</string>
            </dict>
            <key>pancake_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,302},{330,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,238}}</string>
                <key>sourceSize</key>
                <string>{330,238}</string>
            </dict>
            <key>pancake_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,302},{275,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,238}}</string>
                <key>sourceSize</key>
                <string>{275,238}</string>
            </dict>
            <key>pancake_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2400,302},{236,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,242}}</string>
                <key>sourceSize</key>
                <string>{236,242}</string>
            </dict>
            <key>pancake_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2182,302},{218,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,242}}</string>
                <key>sourceSize</key>
                <string>{218,242}</string>
            </dict>
            <key>pancake_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,302},{182,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,239}}</string>
                <key>sourceSize</key>
                <string>{182,239}</string>
            </dict>
            <key>pancake_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2636,302},{173,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,242}}</string>
                <key>sourceSize</key>
                <string>{173,242}</string>
            </dict>
            <key>pancake_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1001},{10,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,465}}</string>
                <key>sourceSize</key>
                <string>{10,465}</string>
            </dict>
            <key>road_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2365,0},{977,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{977,86}}</string>
                <key>sourceSize</key>
                <string>{977,86}</string>
            </dict>
            <key>road_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{977,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{977,86}}</string>
                <key>sourceSize</key>
                <string>{977,86}</string>
            </dict>
            <key>road_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2197,0},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{168,78}</string>
            </dict>
            <key>road_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,0},{6,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,72}}</string>
                <key>sourceSize</key>
                <string>{6,72}</string>
            </dict>
            <key>tomato_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,595},{540,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,320}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>tomato_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,595},{540,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,320}}</string>
                <key>sourceSize</key>
                <string>{540,320}</string>
            </dict>
            <key>tomato_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,86},{79,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,113}}</string>
                <key>sourceSize</key>
                <string>{79,113}</string>
            </dict>
            <key>tool_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,302},{78,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,217}}</string>
                <key>sourceSize</key>
                <string>{78,217}</string>
            </dict>
            <key>tool_black_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,302},{78,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,217}}</string>
                <key>sourceSize</key>
                <string>{78,217}</string>
            </dict>
            <key>tool_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{3984,86},{80,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,216}}</string>
                <key>sourceSize</key>
                <string>{80,216}</string>
            </dict>
            <key>tool_blue_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{80,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,216}}</string>
                <key>sourceSize</key>
                <string>{80,216}</string>
            </dict>
            <key>tool_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{3558,86},{138,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,173}}</string>
                <key>sourceSize</key>
                <string>{138,173}</string>
            </dict>
            <key>tool_clear_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{3696,86},{138,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,173}}</string>
                <key>sourceSize</key>
                <string>{138,173}</string>
            </dict>
            <key>tool_cut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2322,86},{131,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,127}}</string>
                <key>sourceSize</key>
                <string>{131,127}</string>
            </dict>
            <key>tool_cut_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2453,86},{131,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,127}}</string>
                <key>sourceSize</key>
                <string>{131,127}</string>
            </dict>
            <key>tool_eraser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,86},{207,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,106}}</string>
                <key>sourceSize</key>
                <string>{207,106}</string>
            </dict>
            <key>tool_eraser_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,86},{207,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,106}}</string>
                <key>sourceSize</key>
                <string>{207,106}</string>
            </dict>
            <key>tool_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{3330,86},{114,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,172}}</string>
                <key>sourceSize</key>
                <string>{114,172}</string>
            </dict>
            <key>tool_hand_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{3444,86},{114,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,172}}</string>
                <key>sourceSize</key>
                <string>{114,172}</string>
            </dict>
            <key>tool_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,86},{117,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,109}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>tool_number_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,86},{117,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,109}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>tool_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{3834,86},{75,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,215}}</string>
                <key>sourceSize</key>
                <string>{75,215}</string>
            </dict>
            <key>tool_red_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{3909,86},{75,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,215}}</string>
                <key>sourceSize</key>
                <string>{75,215}</string>
            </dict>
            <key>tool_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{2584,86},{115,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,132}}</string>
                <key>sourceSize</key>
                <string>{115,132}</string>
            </dict>
            <key>tool_reset_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2699,86},{115,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,132}}</string>
                <key>sourceSize</key>
                <string>{115,132}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1001},{832,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,493}}</string>
                <key>sourceSize</key>
                <string>{832,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teach_ui.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50e2544d387de9f8720cbd287aa15508:c303fe4065ddd92b7cb88c47d6e60395:a0ff510bb331eafa542d6069eac6f213$</string>
            <key>textureFileName</key>
            <string>teach_ui.png</string>
        </dict>
    </dict>
</plist>
